[Unit]
Description=USB Wakeup Blocker
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/usb-wakeup-blocker.conf
ExecStart=/usr/local/bin/usb-wakeup-blocker.sh $ARGS
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
