[Unit]
Description=Disable USB wakeups
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/usb-wakeup-blocker.sh -m -v
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target